#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}
html {
    text-align: center;}
    
.contact_1  {
background-color: #B0C4DE;
}
#video {
background-color: #B0C4DE;
}